*.pyc
*.pyo
*~

/data/
/litecoin_scrypt/build/
/_trial_temp*
Makefile.local
.cache/
.pkglist
.pyenv/
.coverage
build/
ltc_scrypt.so
lyra2re-hash-python/dist/
lyra2re-hash-python/lyra2re2_hash.egg-info/
.idea
